<!-- ##### Breaking News Area Start ##### -->
<section class="breaking-news-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Breaking News Widget -->
                <div class="breaking-news-ticker d-flex flex-wrap align-items-center">
                    <div class="title">
                        <h6>Trending</h6>
                    </div>
                    <div id="breakingNewsTicker" class="ticker">
                        <ul>
                            <li><a href="#">Vợ chồng Châu Kiệt Luân chào đón con thứ 3.</a></li>
                            <li><a href="#">Sau cơn đột quỵ, bà xã siêu mẫu của Justin Bieber phải nhập viện phẫu thuật tim</a></li>
                            <li><a href="#">Brad Pitt than thở với bạn bè về vợ cũ Angelina Jolie</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breaking News Area End ##### -->